html, body, #root {
    height: 100%;
    margin: 0;
  }

body{
    background-image:url('/background_img.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
}